spring:
  datasource:
    url: jdbc:mysql://localhost:3306/careerpilot_ai
    username: root
    password: gojo

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
