<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean class="beans.Address"  id="addrId">
    	<property name="houseno"  value="101"/>
    	<property name="city"  value="pune"/>
    	<property name="pincode"  value="400989"/>
    </bean>
    <bean class="beans.Student"  id="stdId">
    	<property name="name"  value="Mamu"/>
    	<property name="rollno"  value="69"/>
    	<property name="address"  ref="addrId"/>
    </bean>

</beans>